<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Wanda</title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <style>
    body{
      overflow-y: visible !important;
    }
  </style>
</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/assets/img/brand/connectify.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/users">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Connect</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/upload">
                <i class="ni ni-spaceship text-pink"></i>
                <span class="nav-link-text">Upload</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/vision">
                <i class="ni ni-planet text-orange"></i>
                <span class="nav-link-text">Vision</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile/<%= user._id %>">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/settings">
                <i class="ni ni-settings text-default"></i>
                <span class="nav-link-text">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="ni ni-button-power text-info"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>

          </ul>
          <!-- Divider -->

        </div>
      </div>
    </div>
  </nav>

  <div class="main-content" id="panel">
    <iframe
    allow="microphone;"
    width="100%"
    height="820"
    src="https://console.dialogflow.com/api-client/demo/embedded/6874cfa6-4e29-469a-baf1-85d4521a9ec6"
    >
    </iframe>
  </div>
</body>